/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-color-heading: #000028;
  --header-color: #DB00FF;
  --button-color: #FF0070;
  --accent-color: #FF0070;
  --hover: #FF007066;
  --header-big-shadow-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}


.page.theme_dark {
  color: var(--text-color);
  font-family: var(--main-font, serif);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}






