:root .theme_light {
  --bg-color: #FFF1F7;
  --header-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --text-color: #353430;
  --text-color-heading: #353430;
  --hover: rgba(50, 49, 45, 0.4);
  --bg-image: url(../images/cover-image-light.png);
}

.page.theme_light {
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
}

.theme_light .rec_container {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --header-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --button-color: #353430;
    --text-color: #353430;
    --text-color-heading: #353430;
    --hover: rgba(50, 49, 45, 0.4);
    --bg-image: url(../images/cover-image-light.png);
  }

    .theme_auto .rec_container {
      display: none;
    }
  }