:root {
  --main-font: 'IBM Plex mono';
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --text-color-heading: #000028;
  --header-color: #DB00FF;
  --button-color: #FF0070;
  --accent-color: #FF0070;
  --hover: #FF007066;
  --header-big-shadow-color: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}